<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="incrementPageCount">
        UPDATE /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#incrementPageCount() */
               TBL_PAGE_COUNT A
           SET A.PAGE_VIEW = (SELECT B.PAGE_VIEW
                                FROM TBL_PAGE_COUNT B
                               WHERE B.PAGE_NO = ?
                              ) + 1
         WHERE A.PAGE_NO = ?
	</entry>
	<entry key="selectPageViewCount">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#selectPageViewCount() */
               A.PAGE_NO
             , A.PAGE_VIEW
             , A.PAGE_NAME
          FROM TBL_PAGE_COUNT A
	</entry>
	<entry key="pauseMember">
	    UPDATE /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#deleteMember() */
	           TBL_USER A
	       SET USER_STATUS = 'N'
	     WHERE USER_STATUS = 'Y'
	       AND USER_NO = ?
	</entry>
	<entry key="restoreMember">
	    UPDATE /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#restoreMember() */ 
	           TBL_USER A
	       SET USER_STATUS = 'Y'
	     WHERE USER_STATUS = 'N'
	       AND USER_NO = ?
	</entry>
	
	<entry key="selectTotalCount">
    	SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#selectTotalCount() */
               COUNT(*)
          FROM TBL_INFO_BOARD A
	</entry>
	<entry key="selectAllMemberList">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#selectAllMemberList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>

	<entry key="searchUserIdManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.USER_ID LIKE '%' || ? || '%'
	</entry>
	<entry key="searchNickNameManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.NICKNAME LIKE '%' || ? || '%'
	</entry>
	<entry key="searchEmailManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.EMAIL LIKE '%' || ? || '%'
	</entry>
	<entry key="searchPhoneManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.PHONE LIKE '%' || ? || '%'
	</entry>
	<entry key="searchUserRollManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.USER_ROLE LIKE '%' || ? || '%'
	</entry>
	<entry key="searchApplyDateManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.APPLY_DATE LIKE '%' || ? || '%'
	</entry>
	<entry key="searchApprovalManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.APPROVAL_YN LIKE '%' || ? || '%'
	</entry>
	<entry key="searchEnrollDateManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.ENROLL_DATE LIKE '%' || ? || '%'
	</entry>
	<entry key="searchUserStatusManageCount">
		SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageCount() */
               COUNT(*)
          FROM TBL_USER A
         WHERE A.USER_STATUS LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchUserIdManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.USER_ID LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchNickNameManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.NICKNAME LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchEmailManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.EMAIL LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchPhoneManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.PHONE LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchUserRoleManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.USER_ROLE LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchApplyDateManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.APPLY_DATE LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>	
	<entry key="searchApprovalManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.APPROVAL_YN LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>	
	<entry key="searchEnrollDateManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.ENROLL_DATE LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchUserStatusManage">
        SELECT /* com.sabang.findMyRoom.admin.model.dao.AdminDAO#searchUserManageList() */
               A.RNUM
             , A.USER_NO
             , A.USER_ID
             , A.NICKNAME
             , A.EMAIL
             , A.PHONE
             , A.USER_ROLE
             , A.APPLY_DATE
             , A.APPROVAL_YN
             , A.ENROLL_DATE
             , A.USER_STATUS
          FROM (SELECT ROWNUM RNUM
                     , B.USER_NO
                     , B.USER_ID
                     , B.NICKNAME
                     , B.EMAIL
                     , B.PHONE
                     , B.USER_ROLE
		             , B.APPLY_DATE
        		     , B.APPROVAL_YN
                     , B.ENROLL_DATE
                     , B.USER_STATUS
                  FROM (SELECT C.USER_NO
                             , C.USER_ID
                             , C.NICKNAME
                             , C.EMAIL
                             , C.PHONE
                             , C.USER_ROLE
      			             , C.APPLY_DATE
            				 , C.APPROVAL_YN
                             , C.ENROLL_DATE
                             , C.USER_STATUS
                          FROM TBL_USER C
                         ORDER BY C.USER_NO DESC
                        ) B
                 WHERE B.USER_STATUS LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
</properties>











