<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectTotalCount">
    	SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#selectTotalCount() */
               COUNT(*)
          FROM TBL_INFO_BOARD A
         WHERE A.VIEW_YN = 'Y'
	</entry>

	<entry key="selectInfoBoardList">
        SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#selectInfoBoardList() */
               A.RNUM
             , A.POST_NO
             , A.CATEGORY_NO
             , A.CATEGORY_NAME
             , A.POST_TITLE
             , A.POST_CONTENT
             , A.USER_NO
             , A.NICKNAME
             , A.VIEW_NO
             , A.CREATION_DATE
             , A.VIEW_YN
          FROM (SELECT ROWNUM RNUM
                     , B.POST_NO
                     , B.CATEGORY_NO
                     , B.CATEGORY_NAME
                     , B.POST_TITLE
                     , B.POST_CONTENT
                     , B.USER_NO
                     , B.NICKNAME
                     , B.VIEW_NO
                     , B.CREATION_DATE
                     , B.VIEW_YN
                  FROM (SELECT C.POST_NO
                             , C.CATEGORY_NO
                             , D.CATEGORY_NAME
                             , C.POST_TITLE
                             , C.POST_CONTENT
                             , C.USER_NO
                             , E.NICKNAME
                             , C.VIEW_NO
                             , C.CREATION_DATE
                             , C.VIEW_YN
                          FROM TBL_INFO_BOARD C
                          JOIN TBL_INFO_CATEGORY D ON (C.CATEGORY_NO = D.CATEGORY_NO)
                          JOIN TBL_USER E ON(C.USER_NO = E.USER_NO)
                         WHERE C.VIEW_YN = 'Y'
                         ORDER BY C.POST_NO DESC
                        ) B
               ) A
         WHERE A.RNUM BETWEEN ? AND ?	
	</entry>

	<entry key="insertInfoBoard">
        INSERT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#insertInfoBoard() */
          INTO TBL_INFO_BOARD A
         (
            A.POST_NO
          , A.POST_TITLE
          , A.POST_CONTENT
          , A.CREATION_DATE
          , A.CATEGORY_NO
          , A.USER_NO
         )
         VALUES
         (
            SEQ_INFO_POST_NO.NEXTVAL
          , ?
          , ?
          , SYSDATE
          , ?
          , 1
         )
	</entry>
	<entry key="updateInfoBoard">
        UPDATE /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#updateInfoBoard() */
               TBL_INFO_BOARD A
           SET A.POST_TITLE = ?
     		 , A.POST_CONTENT = ?
         WHERE A.VIEW_YN = 'Y'
           AND A.POST_NO = ?
	</entry>
	<entry key="deleteInfoBoard">
        UPDATE /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#deleteInfoBoard() */
	           TBL_INFO_BOARD A
	       SET A.VIEW_YN = 'N'
	     WHERE A.VIEW_YN = 'Y'
	       AND A.POST_NO = ?
	</entry>
	
	<entry key="selectInfoBoardDetail">
        SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#selectInfoBoardDetail() */
               A.POST_NO
             , A.CATEGORY_NO
             , C.CATEGORY_NAME
             , A.POST_TITLE
             , A.POST_CONTENT
             , A.USER_NO
             , B.NICKNAME
             , A.VIEW_NO
             , A.CREATION_DATE
          FROM TBL_INFO_BOARD A
          JOIN TBL_USER B ON (A.USER_NO = B.USER_NO)
          JOIN TBL_INFO_CATEGORY C ON (A.CATEGORY_NO = C.CATEGORY_NO)
         WHERE A.POST_NO = ?	
	</entry>

	<entry key="incrementInfoBoardCount">
	      UPDATE /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#incrementInfoBoardCount() */
             TBL_INFO_BOARD A
         SET A.VIEW_NO = (SELECT B.VIEW_NO
                                   FROM TBL_INFO_BOARD B
                                  WHERE POST_NO = ?
                                ) + 1
         WHERE A.POST_NO = ?
	</entry>
	
	<entry key="selectCategoryViewCount">
       	SELECT 
       	       SUM(A.VIEW_NO)
             , B.CATEGORY_NAME
       	  FROM TBL_INFO_BOARD A
          JOIN TBL_INFO_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO)
       	 WHERE B.CATEGORY_NO = ?
      GROUP BY B.CATEGORY_NAME
	</entry>

	<entry key="searchCategoryInfoBoardCount">
		SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#searchCategoryInfoBoardCount() */
               COUNT(*)
          FROM TBL_INFO_BOARD A
          JOIN TBL_INFO_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO)
         WHERE A.VIEW_YN = 'Y'
           AND B.CATEGORY_NAME LIKE '%' || ? || '%'
	</entry>
	<entry key="searchTitleInfoBoardCount">
		SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#searchTitleInfoBoardCount() */
               COUNT(*)
          FROM TBL_INFO_BOARD A
         WHERE A.VIEW_YN = 'Y'
           AND A.POST_TITLE LIKE '%' || ? || '%'
	</entry>
	<entry key="searchContentInfoBoardCount">
		SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#searchContentInfoBoardCount() */
               COUNT(*)
          FROM TBL_INFO_BOARD A
         WHERE A.VIEW_YN = 'Y'
           AND A.POST_CONTENT LIKE '%' || ? || '%'
	</entry>
	
	
	<entry key="searchCategoryInfoBoard">
        SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#searchCategoryInfoBoard() */
               A.RNUM
             , A.POST_NO
             , A.CATEGORY_NO
             , A.CATEGORY_NAME
             , A.POST_TITLE
             , A.POST_CONTENT
             , A.USER_NO
             , A.NICKNAME
             , A.VIEW_NO
             , A.CREATION_DATE
             , A.VIEW_YN
          FROM (SELECT ROWNUM RNUM
                     , B.POST_NO
                     , B.CATEGORY_NO
                     , B.CATEGORY_NAME
                     , B.POST_TITLE
                     , B.POST_CONTENT
                     , B.USER_NO
                     , B.NICKNAME
                     , B.VIEW_NO
                     , B.CREATION_DATE
                     , B.VIEW_YN
                  FROM (SELECT C.POST_NO
                             , C.CATEGORY_NO
                             , D.CATEGORY_NAME
                             , C.POST_TITLE
                             , C.POST_CONTENT
                             , C.USER_NO
                             , E.NICKNAME
                             , C.VIEW_NO
                             , C.CREATION_DATE
                             , C.VIEW_YN
                          FROM TBL_INFO_BOARD C
                          JOIN TBL_INFO_CATEGORY D ON (C.CATEGORY_NO = D.CATEGORY_NO)
                          JOIN TBL_USER E ON(C.USER_NO = E.USER_NO)
                         WHERE C.VIEW_YN = 'Y'
                         ORDER BY C.POST_NO DESC
                        ) B
                 WHERE B.CATEGORY_NAME LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchTitleInfoBoard">
        SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#searchTitleInfoBoard() */
               A.RNUM
             , A.POST_NO
             , A.CATEGORY_NO
             , A.CATEGORY_NAME
             , A.POST_TITLE
             , A.POST_CONTENT
             , A.USER_NO
             , A.NICKNAME
             , A.VIEW_NO
             , A.CREATION_DATE
             , A.VIEW_YN
          FROM (SELECT ROWNUM RNUM
                     , B.POST_NO
                     , B.CATEGORY_NO
                     , B.CATEGORY_NAME
                     , B.POST_TITLE
                     , B.POST_CONTENT
                     , B.USER_NO
                     , B.NICKNAME
                     , B.VIEW_NO
                     , B.CREATION_DATE
                     , B.VIEW_YN
                  FROM (SELECT C.POST_NO
                             , C.CATEGORY_NO
                             , D.CATEGORY_NAME
                             , C.POST_TITLE
                             , C.POST_CONTENT
                             , C.USER_NO
                             , E.NICKNAME
                             , C.VIEW_NO
                             , C.CREATION_DATE
                             , C.VIEW_YN
                          FROM TBL_INFO_BOARD C
                          JOIN TBL_INFO_CATEGORY D ON (C.CATEGORY_NO = D.CATEGORY_NO)
                          JOIN TBL_USER E ON(C.USER_NO = E.USER_NO)
                         WHERE C.VIEW_YN = 'Y'
                         ORDER BY C.POST_NO DESC
                        ) B
                 WHERE B.POST_TITLE LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchContentInfoBoard">
        SELECT /* com.sabang.findMyRoom.infoboard.model.dao.InfoBoardDAO#searchContentInfoBoard() */
               A.RNUM
             , A.POST_NO
             , A.CATEGORY_NO
             , A.CATEGORY_NAME
             , A.POST_TITLE
             , A.POST_CONTENT
             , A.USER_NO
             , A.NICKNAME
             , A.VIEW_NO
             , A.CREATION_DATE
             , A.VIEW_YN
          FROM (SELECT ROWNUM RNUM
                     , B.POST_NO
                     , B.CATEGORY_NO
                     , B.CATEGORY_NAME
                     , B.POST_TITLE
                     , B.POST_CONTENT
                     , B.USER_NO
                     , B.NICKNAME
                     , B.VIEW_NO
                     , B.CREATION_DATE
                     , B.VIEW_YN
                  FROM (SELECT C.POST_NO
                             , C.CATEGORY_NO
                             , D.CATEGORY_NAME
                             , C.POST_TITLE
                             , C.POST_CONTENT
                             , C.USER_NO
                             , E.NICKNAME
                             , C.VIEW_NO
                             , C.CREATION_DATE
                             , C.VIEW_YN
                          FROM TBL_INFO_BOARD C
                          JOIN TBL_INFO_CATEGORY D ON (C.CATEGORY_NO = D.CATEGORY_NO)
                          JOIN TBL_USER E ON(C.USER_NO = E.USER_NO)
                         WHERE C.VIEW_YN = 'Y'
                         ORDER BY C.POST_NO DESC
                        ) B
                 WHERE B.POST_CONTENT LIKE '%' || ? || '%'
               ) A
         WHERE A.RNUM BETWEEN ? AND ?	
	</entry>

</properties>











