footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #6a6a6a;
    position:sticky;
    bottom:0px;
    width:100%;
    z-index:1000;
    background:white;
    border-top:1px solid rgba(0,0,0,0.1);
}

footer p {
    text-align: center;
}
.footertext{
	margin-top:20px;
}
.copyright{
	margin:0px;
}
footer div {
    justify-content: center;
}

.footer_icons {
	text-decoration: none;
	color: #6a6a6a;
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: center;
}

.footer_icons li {
    padding: 0px 12px;
    flex-direction: row;
}

hr.hr-fshadow {
    margin-top: 0px;
    height: 5px;
}

.fab.fa-github {
	color: #6a6a6a;
}

.fab.fa-github:hover {
	color: rgb(0, 0, 0);
}

.fab.fa-figma {
	color: #6a6a6a;
}

.fa-figma:hover {
	color: rgb(0, 0, 0);
}

.fa-cube {
	color: #6a6a6a;
}

.fa-cube:hover {
	color: rgb(0, 0, 0);
}

.fa-cloud {
	color: #6a6a6a;
}

.fa-cloud:hover {
	color: rgb(0, 0, 0);
}