/* introduce */
.introduce {
  margin-top: 100px;
  padding-left: 40px;
  align-content: center;
}

.introduce li {
  list-style: none;
}

.introduce h3 {
  padding-left: 30px;
}

/* office */
.office {
  display: flex;
  justify-content: space-between;
}

.office-info {
  display: flex;
  padding-left: 30px;
  padding-top: 10px;
}

.office-info-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
}

.office-info-title img{
  height: 90px;
}

.office-info-title p{
  margin: 10px 0;
}

.office-info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #5e5e5e;
  margin: 0;
}

.office-info-list li {
  margin-bottom: 10px;
}

.office-info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.office-star {
  display: flex;
}

.star-score {
  padding-right: 10px;
}

.office-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}

.show-review {
  left: 40px;
  top: 5px;
  position: relative;
}

.show-review a:hover {
  text-decoration: none;
  color: #c8a100;
  cursor: pointer;
}

/* common */
.container {
  margin-bottom: 140px;
}

.glyphicon.glyphicon-star {
  color: rgb(255, 217, 0);
  padding-right: 2px;
}

.glyphicon.glyphicon-star.empty {
	color: #c4c4c4;
}

