@charset "UTF-8";
.room-list-main {
    padding: 0px;
    margin-top: -10px;
    margin-bottom: -50px;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
/* 지도 */
.map {
    height: 60vw;
    max-height: 800px;
    padding: 0px;
}

/* 검색 필터 */
.option-category {
  font-weight: 600;
  color: #ffb600;
  margin-left: 10px;
}

.category-icon {
  display: inline-flex;
  position: fixed;
  border: 1px solid #ffd233;
  left: 30px;
  top: 100px;
  width: 50vw;
  height: 50vw;
  width: 50vw;
  height: 50vw;
  max-width: 380px;
  max-height: 48.5px;
  background: white;
  z-index: 1000;
  align-items: center;
  justify-content: space-around;
}

.check-icon {
  width: 30px;
  display: flex;
  align-items: center;
  opacity: 0.2;
}

.check-icon:hover {
  cursor: pointer;
}

a.tip span {
  display: none;
  font-size: xx-small;
  color: #9c9c9c;
}

a.tip:hover span {
    padding: 14px 0 5px 5px;
    display: block;
    z-index: 100;
    left: 50px;
    margin: 10px;
    width: 500px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.category-line {
  color: #ffb600;
}

/* #submitBtn {
  display: inline-flex;
  position: absolute;
  color: white;
  left: 350px;
  top: 100px;
  width: 40px;
  height: 48.5px;
  background: #ffd233;
  border-style: none;
  outline: none;
  z-index: 1000;
  align-items: center;
  border-radius: 0;
}

#submitBtn:hover {
  outline: none;
  background: #ffca0b;
} */

.room-live-type-all {
  display: inline-flex;
  position: fixed;
  border: 1px solid #ffd233;
  left: 30px;
  top: 148px;
  width: 50vw;
  height: 50vw;
  max-width: 380px;
  max-height: 48.5px;
  background: white;
  z-index: 1000;
  align-items: center;
  justify-content: space-around;
}

.room-live-type {
  font-weight: 600;
  color: #ffb600;
  margin-left: 10px;
}

.option-help:hover {
  cursor: help;
}

.gas-stove {
  margin-right: 10px;
}

.range-slider {
  display: flex;
  align-items: center;
}

/* 매물 목록 */
.room-list {
    height: 60vw;
    max-height: 800px;
    padding: 0px;
    overflow-y: scroll;
}

.room-list-heading {
    margin: 15px 0 0 15px;
}

.room-list .room {
    display: flex;
    height: 120px;
    max-width: 600px;
    padding: 0 15px;
    margin: 20px 0;
}

.room-list .room .img {
    width: 172px;
    overflow: hidden;
    margin-right: 20px;
}

.room-list .room .img img {
    width: 100%;
    height: 120px;
}

/* 매물 정보 */
.room-info {
    margin-right: 15px;
}

.room-list .room .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 55%;
    font-size: 14px;
    line-height: 24px;
}

.room-list .room .info .price {
    font-size: 18px;
    font-weight: bold;
}

.room-list .room .info .title {
    color: #6a6a6a;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.room-area:hover {
    text-decoration: none;
    background-color: #f3f3f3;
}

.room-list a :hover btns {
    background-color: #f3f3f3;
}

.room-list ul:hover span,button{
	text-decoration: none;
	color: black;
}

/* 중개사인 경우 추가 정보 및 수정/삭제 버튼 */
.room-area {
  display: flex;
}

.more-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
}

.more-info span {
  margin-right: 10px;
}

.more-info .status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border-radius: 10px;
}

.btns-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.btns button {
  width: 60px;
  text-align: center;
  padding: 5px;
  margin: 3px 0;
  font-size: 12px;
}

.btns button:hover {
  background: #ffd233;
}

.btns-area:hover room-area {
  background-color: white;
}

/* 미디어 쿼리 */
@media screen and (max-width: 992px) {

    .room-list-main {
         margin-bottom: 0;
    }

    .map {
        height: 40vw;
    }

    .room-list {
        margin-left: 15px;
    }
}



/* 상세 페이지 */

/* room-detail */
.room-detail {
  background-color: white;
  height: 70vw;
  max-height: 700px;
  padding: 0;
  overflow-x: hidden;
}

/* room-detail-heading */
.room-detail-heading {
  display: flex;
  margin: 15px 15px 0 15px;
  justify-content: space-between;
  align-items: center;
}

.sticky-heading {
  position: sticky;
}

.room-detail-title {
  display: flex;
  align-items: center;
}

.room-detail-title h4 {
  margin: 0;
}

.glyphicon-menu-left {
  padding-right: 13px;
}

.glyphicon-menu-left:hover {
  cursor: pointer;
}

.glyphicon-heart {
  color: #c4c4c4;
  font-size: 20px;
  padding-right: 20px;
}

.glyphicon-heart:hover {
  cursor: pointer;
}

.title-end {
  margin-bottom: 0;
}

/* room-basic-info */
.room-basic-info-1 {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.room-status {
  display: flex;
  align-items: center;
  background: #ffca0b;
}

.room-create-date {
  color: #b2b2b2;
}

.room-basic-info-2 {
  padding: 0 20px;
  margin: 0;
}

.room-price {
  margin: 0;
}

.room-no {
  margin: 0;
  color: #6e6e6e;
}

.room-basic-info-3 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0;
}

p.info {
  font-size: 20px;
  font-weight: 600;
  color: #e3b30b;
  margin: 0;
}

p.info:hover {
  color: #e3b30b;
}

/* room title & transport value */
.room-value {
  color: #6e6e6e;
  font-size: 17px;
  text-align: center;
  text-align: center;
  padding: 0 20px 20px;
  margin: 0;
}

.room-explanation-info-value {
  color: #6e6e6e;
  font-size: 17px;
  padding: 0 20px 20px;
  margin: 0;
}

/* room-info-common */
.room-info-title {
  margin: 20px 0 0 20px;
}

/* room-building-info */
.room-building-info-table {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.table-title {
  color: #6e6e6e;
}

/* option-icon */
.fa-times {
  font-size: 3vw;
}

.option-icon img {
  width: 3vw;
  min-width: 30px;
}

.option-icon figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-icon figcaption {
  padding-top: 10px;
}

.option-icon li {
  display: flex;
  align-content: center;
}

.no-option {
  color: #c4c4c4;
}

.building-option {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

.home-appliances {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

.room-cost-option {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

/* office-info */
.office-img {
  width: 80px;
}

.office-name {
  font-size: 17px;
  font-weight: 600;
  margin: 0 15px 0 15px;
}

.office-info-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0 20px 20px;
}

/* office review */
.office-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}

.office-star {
  display: flex;
  align-items: center;
}

.star-score {
  padding-right: 10px;
  font-weight: 500;
}

.glyphicon-star {
  color: rgb(255, 217, 0);
  padding-right: 2px;
}

.glyphicon-star.empty {
  color: #c4c4c4;
}

.show-review {
  left: 40px;
  top: 5px;
  position: relative;
  font-weight: 500;
}

.show-review a:hover {
  text-decoration: none;
  color: #c8a100;
  cursor: pointer;
}

/* divider-line */
.divider-line {
  background: #fff0c8;
  height: 10px;
}

