body {
    padding-bottom: 40px;
    background-color: white;
    /* display: table-cell; */
    /* vertical-align: middle;  */
  }

  .container {
    margin: 200px auto;
    background-color: white;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 370px;
    margin: 0 auto;
    top: 50%;
    /* display: table-cell; */
    /* vertical-align: middle; */
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 0.9em;
  }

  .form-signin input[type="password"] {
    margin-top: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 0.9em;
  }

  .logo {
    position: relative;
    left: 15px;
    bottom: 10px;
  }

  .findId {
    border: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    position: relative;
    left: 10px;
  }

  .findPwd {
    border: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    position: relative;
    left: 25px;

  }

  .signUp {
    border: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    position: relative;
    left: 40px;
  }

  .btn {
    position: relative;
    top: 10px;
    background: rgb(255, 210, 51);
    font-weight: bold;
  }

  .btn:hover {
    background: rgb(81, 75, 55);
    font-weight: bold;
    color: white;
    transition-duration: 0.3s;
  }

  .checkbox {
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    left: 5px;
  }