<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectRoomList">
		SELECT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#selectAllRoomList(); */
		       A.ROOM_NO
		     , A.ROOM_PRICE
		     , A.EXCLUSIVE_AREA
		     , A.ADDRESS
		     , A.ROOM_FLOOR
		     , A.ROOM_TITLE
             , B.THUMBNAIL_PATH
		  FROM TBL_ROOM A
          JOIN TBL_ROOM_FILE B ON (A.ROOM_NO = B.ROOM_NO)
		 WHERE A.ROOM_STATUS = 'Y'
           AND B.FILE_NO = 1
           AND (A.CATEGORY_NO = ?)
		 ORDER BY A.ROOM_NO DESC
	</entry>
    <entry key="incrementRoomCount">
        UPDATE /* com.sabang.findMyRoom.room.model.dao.RoomDAO#incrementRoomCount(); */
               TBL_ROOM A
           SET A.VIEW_NO = (SELECT B.VIEW_NO
                              FROM TBL_ROOM B
                             WHERE ROOM_NO = ?
                                ) + 1
         WHERE A.ROOM_NO = ?
    </entry>
    <entry key="selectRoomDetail">
        SELECT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#selectRoomDetail() */
               A.ROOM_NO
             , A.ROOM_PRICE
             , A.EXCLUSIVE_AREA
             , A.ADDRESS
             , TRUNC(SYSDATE - A.CREATE_DATE) AS CREATE_DATE
             , A.CATEGORY_NO
             , B.CATEGORY_NAME
             , A.OFFICE_NO
             , C.OFFICE_NAME
             , C.OFFICE_ADDR
             , C.OFFICE_PHONE
             , C.BUSINESS_NO
             , C.OFFICE_RATING
             , C.USER_NO
             , D.NICKNAME
             , A.ROOM_FLOOR
             , A.DIRECTION
             , A.MONTH_COST
             , A.ELECTRICITY_YN
             , A.GAS_YN
             , A.WATER_YN
             , A.INTERNET_YN
             , A.TV_YN
             , TO_CHAR(A.CONSTRUCTION_DATE, 'YYYY-MM-DD') AS CONSTRUCTION_DATE
             , A.AVAILABLE_DATE
             , A.ROOM_TITLE
             , A.ROOM_EXPLANATION
             , A.TRANSPORTATION_INFO
             , A.WASHING_MACHINE_YN
             , A.REFRIGERATOR_YN
             , A.AIR_CONDITIONER_YN
             , A.GAS_STOVE_YN
             , A.PET_YN
             , A.ELEVATOR_YN
             , A.PARKING_YN
             , A.VIEW_NO
             , E.FILE_NO
             , E.ORIGIN_NAME
             , E.SAVE_NAME
             , E.SAVE_PATH
             , E.THUMBNAIL_PATH
          FROM TBL_ROOM A
          JOIN TBL_ROOM_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO)
          JOIN TBL_OFFICE C ON (A.OFFICE_NO = C.OFFICE_NO)
          JOIN TBL_USER D ON (C.USER_NO = D.USER_NO)
          JOIN TBL_ROOM_FILE E ON (A.ROOM_NO = E.ROOM_NO)
         WHERE A.ROOM_NO = ?
           AND D.USER_STATUS = 'Y'
    </entry>
    <entry key="selectOfficeNo">
        SELECT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#selectOfficeNo() */
               A.OFFICE_NO
          FROM TBL_OFFICE A
          JOIN TBL_USER B ON (A.USER_NO = B.USER_NO)
         WHERE B.USER_NO = ?
    </entry>
	<entry key="insertRoom">
        INSERT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#insertRoom() */
          INTO TBL_ROOM A
        (
          ROOM_NO
        , ROOM_PRICE
        , EXCLUSIVE_AREA
        , ADDRESS
        , CATEGORY_NO
        , OFFICE_NO
        , ROOM_FLOOR
        , DIRECTION
        , MONTH_COST
        , ELECTRICITY_YN
        , GAS_YN
        , WATER_YN
        , INTERNET_YN
        , TV_YN
        , CONSTRUCTION_DATE
        , AVAILABLE_DATE
        , ROOM_TITLE
        , ROOM_EXPLANATION
        , TRANSPORTATION_INFO
        , WASHING_MACHINE_YN
        , REFRIGERATOR_YN
        , AIR_CONDITIONER_YN
        , GAS_STOVE_YN
        , PET_YN
        , ELEVATOR_YN
        , PARKING_YN
        )
        VALUES
        (
          SEQ_ROOM_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="selectRoomSequence">
    SELECT /* com.greedy.findMyRoom.room.model.dao.RoomDAO#selectRoomSequence() */
           SEQ_ROOM_NO.CURRVAL
      FROM DUAL
	</entry>
	<entry key="insertFile">
        INSERT
          INTO TBL_ROOM_FILE A
        (
          ROOM_NO
        , FILE_NO
        , ORIGIN_NAME
        , SAVE_NAME
        , SAVE_PATH
        , THUMBNAIL_PATH
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="">

	</entry>
	<entry key="">

	</entry>


</properties>










