<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectRoomList">
		SELECT
		       A.ROOM_NO
		     , A.ROOM_PRICE
		     , A.EXCLUSIVE_AREA
		     , A.ADDRESS
		     , A.ROOM_FLOOR
		     , A.ROOM_TITLE
             , B.THUMBNAIL_PATH
		  FROM TBL_ROOM A
          JOIN TBL_ROOM_FILE B ON (A.ROOM_NO = B.ROOM_NO)
		 WHERE A.ROOM_STATUS = 'Y'
           AND B.FILE_NO = 1
		 ORDER BY A.ROOM_NO DESC
	</entry>
    <entry key="incrementRoomCount">
        UPDATE /* com.sabang.findMyRoom.room.model.dao.RoomDAO#incrementRoomCount(); */
               TBL_ROOM A
           SET A.VIEW_NO = (SELECT B.VIEW_NO
                              FROM TBL_ROOM B
                             WHERE ROOM_NO = ?
                                ) + 1
         WHERE A.ROOM_NO = ?
    </entry>
    <entry key="selectRoomDetail">
        SELECT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#selectRoomDetail() */
               A.ROOM_NO
             , A.ROOM_PRICE
             , A.EXCLUSIVE_AREA
             , A.ADDRESS
             , TRUNC(SYSDATE - A.CREATE_DATE) AS CREATE_DATE
             , A.CATEGORY_NO
             , B.CATEGORY_NAME
             , A.OFFICE_NO
             , C.OFFICE_NAME
             , C.OFFICE_ADDR
             , C.OFFICE_PHONE
             , C.BUSINESS_NO
             , C.OFFICE_RATING
             , C.USER_NO
             , D.NICKNAME
             , A.ROOM_FLOOR
             , A.DIRECTION
             , A.MONTH_COST
             , A.ELECTRICITY_YN
             , A.GAS_YN
             , A.WATER_YN
             , A.INTERNET_YN
             , A.TV_YN
             , TO_CHAR(A.CONSTRUCTION_DATE, 'YYYY-MM-DD') AS CONSTRUCTION_DATE
             , A.AVAILABLE_DATE
             , A.ROOM_TITLE
             , A.ROOM_EXPLANATION
             , A.TRANSPORTATION_INFO
             , A.WASHING_MACHINE_YN
             , A.REFRIGERATOR_YN
             , A.AIR_CONDITIONER_YN
             , A.GAS_STOVE_YN
             , A.PET_YN
             , A.ELEVATOR_YN
             , A.PARKING_YN
             , A.VIEW_NO
             , E.FILE_NO
             , E.ORIGIN_NAME
             , E.SAVE_NAME
             , E.SAVE_PATH
             , E.THUMBNAIL_PATH
          FROM TBL_ROOM A
          JOIN TBL_ROOM_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO)
          JOIN TBL_OFFICE C ON (A.OFFICE_NO = C.OFFICE_NO)
          JOIN TBL_USER D ON (C.USER_NO = D.USER_NO)
          JOIN TBL_ROOM_FILE E ON (A.ROOM_NO = E.ROOM_NO)
         WHERE A.ROOM_NO = ?
           AND D.USER_STATUS = 'Y'
           AND E.FILE_NO != 1
    </entry>
    <entry key="selectOfficeNo">
        SELECT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#selectOfficeNo() */
               A.OFFICE_NO
          FROM TBL_OFFICE A
          JOIN TBL_USER B ON (A.USER_NO = B.USER_NO)
         WHERE B.USER_NO = ?
    </entry>
	<entry key="insertRoom">
        INSERT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#insertRoom() */
          INTO TBL_ROOM A
        (
          A.ROOM_NO
        , AROOM_PRICE
        , AEXCLUSIVE_AREA
        , AADDRESS
        , ACATEGORY_NO
        , AOFFICE_NO
        , AROOM_FLOOR
        , ADIRECTION
        , AMONTH_COST
        , AELECTRICITY_YN
        , AGAS_YN
        , AWATER_YN
        , AINTERNET_YN
        , ATV_YN
        , ACONSTRUCTION_DATE
        , AAVAILABLE_DATE
        , AROOM_TITLE
        , AROOM_EXPLANATION
        , ATRANSPORTATION_INFO
        , AWASHING_MACHINE_YN
        , AREFRIGERATOR_YN
        , AAIR_CONDITIONER_YN
        , AGAS_STOVE_YN
        , APET_YN
        , AELEVATOR_YN
        , APARKING_YN
        )
        VALUES
        (
          SEQ_ROOM_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="selectRoomSequence">
    SELECT /* com.greedy.findMyRoom.room.model.dao.RoomDAO#selectRoomSequence() */
           SEQ_ROOM_NO.CURRVAL
      FROM DUAL
	</entry>
	<entry key="insertFile">
        INSERT
          INTO TBL_ROOM_FILE A
        (
          A.ROOM_NO
        , A.FILE_NO
        , A.ORIGIN_NAME
        , A.SAVE_NAME
        , A.SAVE_PATH
        , A.THUMBNAIL_PATH
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
    <entry key="selectManagementList">
        SELECT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#selectManagementList(); */
               A.ROOM_NO
             , A.ROOM_PRICE
             , A.ROOM_STATUS
             , A.EXCLUSIVE_AREA
             , A.ADDRESS
             , B.CATEGORY_NAME
             , A.ROOM_FLOOR
             , A.ROOM_TITLE
             , C.THUMBNAIL_PATH
          FROM TBL_ROOM A
          JOIN TBL_ROOM_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO)
          JOIN TBL_ROOM_FILE C ON (A.ROOM_NO = C.ROOM_NO)
          JOIN TBL_OFFICE D ON (A.OFFICE_NO = D.OFFICE_NO)
          JOIN TBL_USER E ON (D.USER_NO = E.USER_NO)
         WHERE C.FILE_NO = 1
           AND E.USER_NO = ?
         ORDER BY A.ROOM_STATUS DESC, A.ROOM_NO DESC
    </entry>
	<entry key="changeStatus">
        UPDATE /* com.sabang.findMyRoom.room.model.dao.RoomDAO#changeStatus(); */
               TBL_ROOM A
           SET A.ROOM_STATUS = ?
         WHERE A.ROOM_NO = ?
	</entry>
    <entry key="updateRoom">
        UPDATE /* com.sabang.findMyRoom.room.model.dao.RoomDAO#updateRoom() */
               TBL_ROOM A
           SET A.ROOM_PRICE = ?
             , A.EXCLUSIVE_AREA = ?
             , A.ADDRESS = ?
             , A.CATEGORY_NO = ?
             , A.OFFICE_NO = ?
             , A.ROOM_FLOOR = ?
             , A.DIRECTION = ?
             , A.MONTH_COST = ?
             , A.ELECTRICITY_YN = ?
             , A.GAS_YN = ?
             , A.WATER_YN = ?
             , A.INTERNET_YN = ?
             , A.TV_YN = ?
             , A.CONSTRUCTION_DATE = ?
             , A.AVAILABLE_DATE = ?
             , A.ROOM_TITLE = ?
             , A.ROOM_EXPLANATION = ?
             , A.TRANSPORTATION_INFO = ?
             , A.WASHING_MACHINE_YN = ?
             , A.REFRIGERATOR_YN = ?
             , A.AIR_CONDITIONER_YN = ?
             , A.GAS_STOVE_YN = ?
             , A.PET_YN = ?
             , A.ELEVATOR_YN = ?
             , A.PARKING_YN = ?
         WHERE A.ROOM_NO = ?
	</entry>
	<entry key="updateFile">
        UPDATE /* com.sabang.findMyRoom.room.model.dao.RoomDAO#updateFile() */
               TBL_ROOM_FILE A
           SET A.ORIGIN_NAME = ?
             , A.SAVE_NAME = ?
             , A.SAVE_PATH = ?
             , A.THUMBNAIL_PATH = ?
         WHERE A.ROOM_NO = ?
           AND A.FILE_NO = ?
	</entry>
	<entry key="deleteFile">
        DELETE /* com.sabang.findMyRoom.room.model.dao.RoomDAO#updateFile() */
          FROM TBL_ROOM_FILE A
         WHERE A.ROOM_NO = ?
           AND A.FILE_NO = ?
	</entry>
	<entry key="addWish">
         INSERT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#addWish() */
          INTO TBL_PICK_ROOM A
        (
          A.USER_NO
        , A.ROOM_NO
        )
        VALUES
        (
          ?
        , ?
        )
	</entry>
	<entry key="removeWish">
        DELETE /* com.sabang.findMyRoom.room.model.dao.RoomDAO#removeWish() */
          FROM TBL_PICK_ROOM A
         WHERE A.USER_NO = ?
           AND A.ROOM_NO = ?
	</entry>
	<entry key="selectWishlist">
        SELECT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#selectWishlist() */
               A.USER_NO
             , A.ROOM_NO
          FROM TBL_PICK_ROOM A
         WHERE A.USER_NO = ?
           AND ROOM_NO = ?
	</entry>
	<entry key="selectRoomWishList">
        SELECT /* com.sabang.findMyRoom.room.model.dao.RoomDAO#selectRoomWishList() */
               A.ROOM_NO
             , A.ROOM_PRICE
             , A.EXCLUSIVE_AREA
             , A.ADDRESS
             , A.ROOM_FLOOR
             , A.ROOM_TITLE
             , B.THUMBNAIL_PATH
          FROM TBL_ROOM A
          JOIN TBL_ROOM_FILE B ON (A.ROOM_NO = B.ROOM_NO)
          JOIN TBL_PICK_ROOM C ON (A.ROOM_NO = C.ROOM_NO)
         WHERE A.ROOM_STATUS = 'Y'
           AND B.FILE_NO = 1
           AND C.USER_NO = ?
         ORDER BY A.ROOM_NO DESC
	</entry>
	<entry key="">
	</entry>



</properties>










