<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="checkIdDuplicate">
		SELECT /* com.sabang.findMyRoom.member.model.dao.MemberDAO#checkIdDuplicate() */
		       A.USER_ID
		  FROM TBL_USER A
		 WHERE A.USER_ID = ?
	</entry>
	<entry key="insertMember">
		INSERT  /* com.sabang.findMyRoom.member.model.dao.MemberDAO#insertMember() */
		  INTO TBL_USER A
		(
		  A.USER_NO
		, A.USER_ID
		, A.USER_PWD
		, A.NICKNAME
		, A.EMAIL
		, A.PHONE
		, A.ENROLL_DATE
		, A.USER_STATUS
		)
		VALUES
		(
		  SEQ_USER_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		, ?
		, SYSDATE
		, 'Y'
		)
	</entry>
	<entry key="selectEncryptedPwd">
		SELECT /* com.sabang.findMyRoom.member.model.dao.MemberDAO#selectEncryptedPwd() */
			   A.USER_PWD
		  FROM TBL_USER A
		 WHERE A.USER_STATUS = 'Y'
		   AND A.USER_ID = ?
	</entry>
	<entry key="selectLoginMember">
		SELECT /* com.sabang.findMyRoom.member.model.dao.MemberDAO#selectLoginMember() */
			   A.USER_NO
			 , A.USER_ID
			 , A.NICKNAME
			 , PHONE
			 , EMAIL
			 , A.ENROLL_DATE
			 , A.USER_ROLE
			 , A.USER_STATUS
		  FROM TBL_USER A
		 WHERE A.USER_STATUS = 'Y'
		   AND A.USER_ID = ?
	</entry>
	<entry key="">

	</entry>
	<entry key="">

	</entry>

</properties>
