<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAllNoticeList">
		SELECT /* com.sabang.findMyRoom.notice.model.dao.NoticeDAO#selectNoticeList()*/
			  A.NOTICE_NO
			, A.VIEW_NO
			, A.USER_NO
			, A.TITLE
			, A.CONTENT
			, B.NICKNAME
			, A.CREATION_DATE
		FROM TBL_NOTICE A
		JOIN TBL_USER B ON (A.USER_NO = B.USER_NO)
		WHERE A.NOTICE_STATUS_YN ='Y'
	   ORDER BY A.NOTICE_NO DESC
			
	</entry>
	
	<entry key = "insertNotice">
	INSERT
	  INTO TBL_NOTICE A
	(
	   A.NOTICE_NO
	 , A.TITLE
	 , A.CONTENT
	 , A.USER_NO
	 , A.CREATION_DATE
	)
	VALUES
	(
	  SEQ_NOTICE_NO.NEXTVAL
	, ?
	, ?
	, ?
	, SYSDATE
	)
	</entry>
	<entry key="incrementNoticeCount">
		UPDATE /* com.sabang.findMyRoom.notice.model.dao.NoticeDAO#incrementNoticeCount(); */
			TBL_NOTICE A
		SET A.VIEW_NO = (SELECT B.VIEW_NO
						   FROM TBL_NOTICE B
						   WHERE NOTICE_NO = ?
						) + 1
		WHERE A.NOTICE_NO = ?
	</entry>
	<entry key="selectNoticeDetail">
		SELECT /* com.greedy.sabang.notice.model.dao.NoticeDAO#selectNoticeDetail() */
			  A.NOTICE_NO
			, A.VIEW_NO
			, A.USER_NO
			, A.TITLE
			, A.CONTENT
			, B.NICKNAME
			, A.CREATION_DATE
		FROM TBL_NOTICE A
		JOIN TBL_USER B ON(A.USER_NO = B.USER_NO)
	   WHERE A.NOTICE_NO = ?
	</entry>
	<entry key="updateNotice">
	UPDATE
		TBL_NOTICE A
    SET A.TITLE = ?
      , A.CONTENT = ?
  WHERE	A.NOTICE_NO = ?
    AND A.NOTICE_STATUS_YN='Y'
	</entry>
	<entry key="deleteNotice">
	UPDATE
		   TBL_NOTICE A
	   SET A.NOTICE_STATUS_YN = 'N'
	 WHERE A.NOTICE_STATUS_YN = 'Y'
	   AND A.NOTICE_NO = ?
	</entry>
	
</properties>